.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: 3px solid transparent;
    background-color: rgba($color-white, 0.5);
    transition: all 0.25s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;

      &:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.7rem auto 0.7rem 2.4rem;
    transition: all 0.3s ease-out;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__check-group {
    display: inline-block;
  }

  &__check-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4rem;
  }

  &__check-button {
    display: inline-block;
    height: 2.7rem;
    width: 2.7rem;
    border: 3px solid $color-primary;
    border-radius: 3px;
    position: absolute;
    top: -0.5rem;
    left: 0;
  }

  &__check-input {
    // Use opacity instead of display to keep it accessible?
    // opacity: 0;
    display: none;
  }

  &__check-input:checked ~ &__check-label &__check-button {
    background-color: $color-primary;
  }
}
