.story {
  width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba($color-white, 0.6);
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    transform: skew(-12deg, 0deg);
  }

  &__text {
    // A hack to improve Chrome font rendering during animation
    transform: translate3d(0, 0, 0);
    filter: blur(0.0000001px);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    margin-right: 3.5rem;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    transition: all 0.3s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(65%);
  }

  @include respond(tab-port) {
    padding: 4rem;
  }

  @include respond(phone) {
    &::before {
      transform: none;
    }

    &__text .heading-tertiary {
      text-align: center;
    }

    &__shape {
      width: 20rem;
      height: 20rem;
      float: none;
      margin: 0 auto 3rem auto;
    }
  }

  @include respond(small-phone) {
    width: 85%;

    &__shape {
      width: 15rem;
      height: 15rem;
    }
  }
}
