// Initial header animations

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Section headings (hover)

@keyframes shineIn {
  to {
    background-position: 100% center;
  }
}

@keyframes shineOut {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes swing {
  30% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
