body {
  color: $color-grey-dark;
  font-family: Muli;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65;
}

.heading-primary {
  margin-bottom: 12vh;
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    @include centered-spacing(3.5rem);
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      @include centered-spacing(2rem);
      font-size: 4.5rem;
    }

    @include respond(small-phone) {
      @include centered-spacing(1.3rem);
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    @include centered-spacing(1.75rem);
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      @include centered-spacing(1.25rem);
      font-size: 1.6rem;
    }

    @include respond(small-phone) {
      @include centered-spacing(0.8rem);
      font-size: 1.4rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  max-width: 90%;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // Animated gradient inspired by
  // https://codepen.io/shshaw/pen/YpERQQ
  background-image: linear-gradient(
    to right,
    $color-primary-dark 20%,
    $color-primary-light 40%,
    $color-primary-light 60%,
    $color-primary-dark 80%
  );
  background-clip: text;
  // Autoprefixer doesn't prefix
  // text clipping yet
  -webkit-background-clip: text;
  background-size: 200% auto;
  color: transparent;
  animation: shineOut 0.3s linear backwards;

  &:hover {
    cursor: pointer;
    animation: shineIn 0.3s 0.1s linear forwards, swing 0.4s ease-in-out;
  }

  @include respond(tab-land) {
    font-size: 3.2rem;
  }

  @include respond(tab-port) {
    font-size: 2.8rem;
  }

  @include respond(phone) {
    font-size: 2.3rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: 1rem 2rem;
    color: $color-primary;
    font-size: $default-font-size;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  @media (hover: hover) {
    @include button-raise;
  }
}
