.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: $margin-small !important;
}

.u-margin-bottom-medium {
  margin-bottom: $margin-med !important;
}

.u-margin-bottom-big {
  margin-bottom: $margin-biggest !important;

  @include respond(tab-port) {
    margin-bottom: $margin-big !important;
  }
}

.u-margin-top-big {
  margin-top: $margin-biggest !important;

  @include respond(tab-port) {
    margin-top: $margin-big !important;
  }
}
